body {
  background-image: url('/Users/apple/Desktop/KWK/Food/Images/antique-backdrop-background-129731.jpg');
  /* background-position: right top; */
background-attachment: fixed;
}

h1 {
  text-align: center;
font-size: 150px;
font-family: 'Lobster', cursive;
padding-bottom: 10px;
padding-top: 49px;
color: black;
}

h3 {
  text-align: center;
  color: black;
  font-size: 50px;
  padding-bottom: 30px;
  font-family: 'Lobster', cursive;
font-family: 'Bree Serif', serif;
}

section {
  color: black;
  font-size: 30px;
  border: 5px solid black;

   display: grid;

 grid-template-columns:  16% 16% auto 16% 16% 16%;
 grid-template-rows: 50% auto 50%;
}

.row1 {
  float: left;
  margin-top: 5px;
display: flex;
flex-direction: row;
/* justify-content: space-between; */
}

.row2 {
  float: left;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  /* justify-content:space-between; */
}

.row3 {
   float: left;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.row4 {
   float: left;
  margin-top: 5px;
  display: flex;
  flex-direction: row;


}
